<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">

    <div class="row">

        <h4><f:translate key="forgot.changeformsubmit.title"/></h4>
        <div class="text">
            <p><f:translate key="forgot.changeformsubmit.message"/></p>

            <!-- SHOW THE LINK, IF REDIRECT IS GIVEN -->
            <f:if condition="{settings.successLink}">
                <f:link.action action="redirect" class="waves-effect waves-light btn col s12 m6  l4 offset-m6 offset-l8">
                    <f:translate key="forgot.changeformsubmit.button"/>
                </f:link.action>
            </f:if>
            <!-- SHOW THE LINK, IF REDIRECT IS GIVEN -->

        </div>
    </div>

</f:section>
</html>