<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">

    <div class="row">
            <h4>
                <f:translate key="forgot.title"/>
            </h4>
            <div class="text">
                    <p><f:translate key="forgot.confirm.text"/></p>
                    <f:link.action action="form" class="waves-effect waves-light btn col s4 offset-s8">{f:translate(key: 'forgot.confirm.back')}</f:link.action>
            </div>
    </div>

</f:section>
</html>