<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">


    <div class="row">
        <h4><f:translate key="register.submit.title" /></h4>
        <div class="row"><f:translate key="register.submit.message" /></div>
        <div class="row">
            <b><f:translate key="register.submit.username" />:</b> {user.username}<br>
            <b><f:translate key="register.submit.email" />:</b> {user.email}
        </div>
        <div class="row">
            <small><f:translate key="register.submit.note" /></small>
        </div>
    </div>


</f:section>
</html>