<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Nerdwolf</h5>
                <p>Wahnsinn, Unsinn, Schwachsinn. Alles was der Herz der Nerds begehrt...</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Links</h5>
                <f:render partial="Navigation/Footer" arguments="{footermenu: footermenu}"/>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Sebastian Christoph
        </div>
    </div>
</footer>