<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">

    <div class="login-box">

        <f:security.ifAuthenticated>
            <f:then>
                <f:render section="authenticated" arguments="{_all}"/>
            </f:then>
            <f:else>
                <f:render section="nonauthenticated" arguments="{_all}"/>
            </f:else>
        </f:security.ifAuthenticated>

    </div>

</f:section>
</html>

<f:section name="authenticated">
    <div class="row">
        <div class="input-field col l6 m12 s12">
            <dl>
                <dt><f:translate key="logged.username"/></dt>
                <dd>{user.username}</dd>
                <f:if condition="{user.firstName} && {user.lastName}">
                    <f:then>
                        <dt><f:translate key="logged.firstname"/><f:translate key="logged.and.lastname"/></dt>
                        <dd>{user.firstName} {user.lastName}</dd>
                    </f:then>
                    <f:else>
                        <f:if condition="{user.firstName}">
                            <dt><f:translate key="logged.firstname"/></dt>
                            <dd>{user.firstName}</dd>
                        </f:if>
                        <f:if condition="{user.lastName}">
                            <dt><f:translate key="logged.lastname"/></dt>
                            <dd>{user.lastName}</dd>
                        </f:if>
                    </f:else>
                </f:if>
            </dl>
        </div>
    </div>
</f:section>

<f:section name="nonauthenticated">

            <f:form action="login" class="form row" method="POST">

                <f:if condition="{error} == 1 || {error} == 2">
                    <div class="login-error row">
                        <div class="col s12">
                            <div class="card alert">
                                <div class="card-content">
                                    <f:if condition="{error} == 1">
                                        <span class="card-title">Fehler (#1)</span>
                                        <p><f:translate key="login.error"/></p>
                                    </f:if>
                                    <f:if condition="{error} == 2">
                                        <span class="card-title">Fehler (#2)</span>
                                        <p><f:translate key="login.error2"/></p>
                                    </f:if>
                                </div>
                                <div class="card-action">
                                    <!-- SPECIAL LINKS (Forgot pass) -->
                                    <f:if condition="{settings.forgotpassPid}">
                                        <f:link.page pageUid="{settings.forgotpassPid}" >
                                            <f:render partial="Icons/PasswordStandalone"/>
                                            <f:translate key="login.forgotpass"/>
                                        </f:link.page>
                                    </f:if>
                                    <!-- SPECIAL LINKS (Forgot pass) -->
                                </div>
                            </div>
                        </div>
                    </div>
                </f:if>

                <div class="login-username input-field col l6 m12 s12">
                    <f:render partial="Icons/User"/>
                    <f:form.textfield id="username" placeholder="testplaceholder" name="username" additionalAttributes="{required:'required'}"/>
                    <label for="username">
                        <f:if condition="{settings.allowEmailLogin}">
                            <f:then>
                                <f:translate key="login.usernameemail"/>
                            </f:then>
                            <f:else>
                                <f:translate key="login.username"/>
                            </f:else>
                        </f:if>
                    </label>
                </div>

                <div class="login-pw input-field col l6 m12 s12">
                    <f:render partial="Icons/Password"/>
                    <f:form.password placeholder="testplaceholder" id="password" name="password" additionalAttributes="{required:'required'}"/>
                    <label for="password">
                        <f:translate key="login.password"/>
                    </label>
                </div>


                <div class="col s12">
                    <f:if condition="{settings.registerPid}">
                        <f:link.page pageUid="{settings.registerPid}" class="col s5">
                            <f:translate key="login.register"/>
                        </f:link.page>
                    </f:if>

                    <f:form.button class="loginsubmit waves-effect waves-light btn col s5 offset-s2" type="submit">
                        {f:translate(key: 'login.submit')}
                        <i class="material-icons right">send</i>
                    </f:form.button>
                </div>

            </f:form>





</f:section>
