/*
red: #B40404
darkgrey: #424242;
grey: #cccccc;

darkblue:#25274D;
darkbluegrey:#464866;
grey:#AAABB8;
brightblue:#2E9CCA;
middleblue:#29648A;
 */

* {
  margin:0;
}

a, a:visited {
    color:#AAABB8;
}
a:hover {
    color:#
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* NAVIGATION BEGIN */
nav,
.sidenav {
    background-color:#25274D;
}
nav .brand-logo {
    background-image: url('../Images/nerdwolf.png');
    background-size:63px;
    height:63px;
    width:63px;
    background-repeat:no-repeat;
    padding:0px;
}
nav ul a,
.sidenav li>a {
    color:#AAABB8;
}
nav ul a {
    font-size:20px;
    font-weight:bold;
}

nav ul li.active,
.sidenav li.active {
    background-color:#464866;
}
nav ul li.active a,
.sidenav li.active a{
    color:#FFFFFF;
}
nav ul li:hover,
.sidenav li:hover {
    background-color:#464866;
}


/* NAVIGATION END */

/* MAIN BEGIN */
main {
    flex: 1 0 auto;
    background-color:#464866;
}
/* MAIN END */


/* FOOTER BEGIN */
.page-footer {
    background-color: #25274D;
    color: #AAABB8;
}
/* FOOTER END */
