/*
red: #B40404
darkgrey: #424242;
grey: #cccccc;

darkblue:#25274D;
darkbluegrey:#464866;
grey:#AAABB8;
brightblue:#2E9CCA;
middleblue:#29648A;
 */

* {
  margin:0;
}

html, button, input, optgroup, select, textarea {
    font-family: 'Open Sans', sans-serif;
    color:#AAABB8;
}

a, a:visited, input, button {
    color:#AAABB8;
}
a:hover {
    color:#999AA7;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}
@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}
@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

/*MATERIALIZE ANGABEN ÄNDERN*/
.input-field input::placeholder,
.input-field input:disabled {
    color:#777885 !important;
}

.input-field .prefix.active {
    color:#2E9CCA;
}

.input-field > label {
    color: #AAABB8 !important;
}
/* label focus color */
.input-field input:focus + label {
    color: #AAABB8 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #AAABB8 !important;
    box-shadow: 0 1px 0 0 #AAABB8 !important;
}

.input-field input:disabled {
    border-bottom: 1px solid #777885 !important;
}
.btn, a.btn {
    background-color:#AAABB8;
    color:#25274D;
}
.btn:hover, .btn:focus, .btn:active {
    background-color:#999AA7;
}
.btn:focus, .btn:active {
    box-shadow: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color:#AAABB8;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color:#999AA7;
}
/*MATERIALIZE END*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}



/* NAVIGATION BEGIN */
nav,
.sidenav {
    background-color:#25274D;
}
nav .nwlogo {
    background-image: url('../Images/nerdwolf.png');
    background-size:63px;
    height:63px;
    width:63px;
    background-repeat:no-repeat;
    padding:0px;
}
nav ul a,
.sidenav li>a {
    color:#AAABB8;
}

nav ul li.active,
.sidenav li.active {
    background-color:#464866;
}
nav ul li.active a,
.sidenav li.active a{
    color:#FFFFFF;
}
nav ul li:hover,
.sidenav li:hover {
    background-color:#464866;
}
@media only screen and (max-width: 992px){
    nav .brand-logo.center{
        left:90%;
    }
}

/* NAVIGATION END */

/* MAIN BEGIN */
main {
    flex: 1 0 auto;
    background-color:#464866;
    padding-top:25px;
    padding-bottom:25px;
}

.card.alert {
    background-color:#B40404;
}

/* MAIN END */


/*LOGIN FORM*/
.loginsubmit {
    /*float:right;*/
}

.msg-error {
    color:#DD0000;
}
.forgotsubmit {
    margin-top:25px;
}
.userforgot h4,
.userforgot .text {
    text-align:center;
}
/*LOGIN FORM END*/

/* FOOTER BEGIN */
.page-footer {
    background-color: #25274D;
    color: #AAABB8;
}
/* FOOTER END */
